@import url("https://fonts.googleapis.com/css?family=Allura|Liu+Jian+Mao+Cao&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Allura|Liu+Jian+Mao+Cao&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html {
    height: 100vh;
    scrollbar-color: green #333;
}
.green-table {
    font-family: 'Lora', Georgia, 'Times New Roman';
    text-align: center;
    background: rgb(3, 89, 3);
    color: white;
    padding: 25px;
    /* https://www.w3schools.com/CSSref/func_radial-gradient.php */
    /* https://stackoverflow.com/questions/36879331/changing-the-center-point-of-a-radial-gradient-in-css */
    /* https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats#2870024 */
    background-image: radial-gradient(ellipse at center 150%,
            #009000,
            #008000,
            #007000,
            #006000,
            #005000,
            #004000,
            #003000,
            #002000,
            #001000);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-top: 0;
    padding: 1.5em 1em;
    height: 5.5em;
}
nav .left-nav {
    margin-left: 2em;
}
nav .right-nav {
    margin-right: 2em;
}
nav .center-nav {
    display: flex;
    align-items: center;
    gap: 0.8em;
}
nav .center-nav * {
    width: 8em;
}
nav .center-nav > span {
    text-align: right;
}
nav .center-nav > div {
    color: lime;
    text-align: left;
}
nav #score-container {
    display: none;
}
header {
    min-height: 220px;
    display: flex;
    align-items: center;
}
main {
    width: 1500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2);
    gap: 80px;
    zoom: 80%;
}
.play-area {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
}
h1 {
    font-size: 7em;
    font-weight: 700;
    text-shadow: 5px 5px #111;
}
button {
    padding: 0.5em 2em;
    border: 2px solid #008000;
    border-radius: 4px;
    background-color: #222;
    color: #ccc;
    height: 40px;
    cursor: pointer;
}
button:hover {
    background-color: #333333aa;
    border-color: #009000;
    color: #ddd;
    box-shadow: 1px 1px 3px lime;
}
button:active {
    position: relative;
    transform: translateY(0.8px);
    background-color: #333333cc;
    border-color: #007000;
    color: #eee;
}
/******************************************************
    Stock pile & drawn cards pile
*/
.stock-pile-container {
    position: relative;
    display: grid;
    grid-template-columns: 175px 175px;
    grid-template-rows: 1fr;
    gap: 60px;
    width: 490px;
}
.stock-pile-container .back {
    position: absolute;
    top: 0;
    left: 0;
}
.stock-pile-circle {
    border: 8px solid hsla(157, 91%, 62%, 0.479);
    border-radius: 50%;
    height: 165px;
    width: 165px;
    position: absolute;
    top: 30px;
    left: 1px;
}
#stock-pile {
    cursor: pointer;
}
#stock-pile > .card {
    position: absolute;
    top: -5px;
    left: -5px;
}
#drawn-pile {
    position: relative;
}
#drawn-pile .card {
    position: absolute;
    top: 0;
    left: 0;
}
/* targets the last 2 cards in the pile */
#drawn-pile > .card:nth-last-child(-n + 2)  {
    margin-left: 1em;
}
/* targets the last card in the pile */
#drawn-pile > .card:nth-last-child(-n + 1)  {   
    margin-left: 2em;
}
/******************************************************
    Foundation piles
*/
.foundation {
    display: grid;
    grid-template-columns: 167px 167px 167px 167px;
    grid-template-rows: 1fr;
    gap: 60px;
    justify-self: end;
}
.foundation > div {
    width: 175px;
    min-height: 230px;
}
.foundation > div .card {
    position: absolute;
    top: -5px;
    left: -5px;
}
#spades,
#hearts,
#diamonds,
#clubs {
    background-size: 50%;
    background-repeat:no-repeat;
    background-position: center;
}
#spades {
    background-image: url("../images/icons/spade.png");
}
#hearts {
    background-image: url("../images/icons/heart.png");
}
#diamonds {
    background-image: url("../images/icons/diamond.png");
}
#clubs {
    background-image: url("../images/icons/club.png");
}
/******************************************************
    Tableau columns area
*/
.tableau {
    display: grid;
    grid-template-columns: 167px 167px 167px 167px 167px 167px 167px;
    grid-template-rows: 1fr;
    gap: 60px;
}
/* https://www.geeksforgeeks.org/css/how-to-use-a-notfirst-child-selector-in-css/ */
/* Target the top most card in each column  */
.tableau > div > .card:first-child {
    position: relative;
    top: -5px;
    left: -5px;
}
/* Target the remaining card in each column and pull them up */
.tableau .card:not(:first-child) {
    margin-top: -200px;
    position: relative;
    left: -5px;
}
.foundation > div,
.tableau > div {
    outline: 8px solid hsla(157, 91%, 62%, 0.479);
}
/************************************************/
#stock-pile,
#drawn-pile,
#clubs,
#hearts,
#diamonds,
#spades,
#col-1,
#col-2,
#col-3,
#col-4,
#col-5,
#col-6,
#col-7 {
    height: 231px;
    width: 168px;
    overflow: visible;
    border-radius: 0.5em;
    position: relative;
}
/* The class ".grow" is toggled via javascript
   and is used to force the card box outine
   to grow vertically when we show the 
   array statuses. */
.tableau > #col-1.grow,
.tableau > #col-2.grow,
.tableau > #col-3.grow,
.tableau > #col-4.grow,
.tableau > #col-5.grow,
.tableau > #col-6.grow,
.tableau > #col-7.grow {
    height: auto;
    min-height: 231px;
}
/******************************************************
    Splash Page & Modals Section
*/
#splash-page {
    /*  Default is to show the splash page with 
        display flex. JavaScript sets the display 
        to 'none' to hide it after simulating 
        entering site. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
#splash-page h1.name-title {
    font-family: 'Allura', cursive;
    font-weight: 100;
    font-size: 10em;
    margin: -3rem 0;
    text-shadow: 4px 4px #111;
}
#splash-page button {
    margin-top: 4rem;
    font-size: 1.2rem;
    border-width: 3px;
    border-color: #009000;
    height: 4rem;
    border-radius: 8px;
}
#splash-page button:active {
    /* moves the element down by 50 pixels */
    transform: translateY(1.2px);
}
/************************************************/
.modal {
    position: absolute;
    justify-self: center;
    background-color: #222;
    border-radius: 1em;
    box-shadow: 10px 10px 8px #222;
}
/************************************************/
#game-win-modal {
    /*  Default is to hide the modal with display none.
        JavaScript sets the display to grid to show. */
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 10% 10% 10% 20%;
    top: 400px;
    color: gold;
    height: 444px;
    width: 777px;
    border: 1px solid gold;
}
#game-win-modal h2 {
    font-size: 9em;
    font-weight: 700;
    text-shadow: 3px 3px rgb(162, 117, 4);
    align-content: end;
}
#game-win-modal .stars {
    font-size: 2em;
    text-shadow: 2px 2px rgb(162, 117, 4);
}
#game-win-modal sub {
    font-size: 1em;
    align-content: center;
}
#game-win-modal p {
    font-size: 2em;
}
#game-win-modal .btn-container {
    align-content: center;
}
#game-win-modal button {
    background-color: #005000;
}
/************************************************/
#game-rules-modal {
    display: none;
    flex-direction: column;
    padding: 4em 10em;
    gap: 1em;
    align-content: start;
    text-align: start;
    top: 300px;
    color: #bbb;
    height: 800px;
    width: 1000px;
    border: 1px solid green;
    overflow-y: scroll;
    scrollbar-color: green #333;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
#game-rules-modal h3 {
    margin-top: 2em;
}
/******************************************************
    The array-statuses element is for testing only, 
    it shows all current array positions while playing.
    Use display none to hide, comment out to show.
*/
#array-statuses {
    position: relative;
    width: 100%;
    bottom: 40px;
    margin-top: 4em;
    color: lime;
    align-items: start;
    justify-content: center;
    gap: 5px;
    background-color: #111;
    border: 1px solid lime;
    zoom: 80%;
    display: none;
}
#array-statuses div {
    border: 1px solid lime;
}
/******************************************************
    Footer area and hidden pseudo admin controls
*/
footer {
    position: fixed;
    bottom: 0;
}
#copy-right,
#copy-year,
#signature {
    cursor: pointer;
}
#signature {
    font-family: 'Allura', cursive;
    font-size: 1.5em;
}