@import url("https://fonts.googleapis.com/css?family=Allura|Liu+Jian+Mao+Cao&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Allura|Liu+Jian+Mao+Cao&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: Lora, Georgia, Times New Roman;
    text-align: center;
    background: rgb(3, 89, 3);
    color: white;
    padding: 25px;
    /* https://www.w3schools.com/CSSref/func_radial-gradient.php */
    /* https://stackoverflow.com/questions/36879331/changing-the-center-point-of-a-radial-gradient-in-css */
    /* https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats#2870024 */
    background-image: radial-gradient(ellipse at center 150%,
            #009000,
            #008000,
            #007000,
            #006000,
            #005000,
            #004000,
            #003000,
            #002000,
            #001000);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#signature {
    font-family: 'Allura', cursive;
    font-size: 1.5em;
}

footer {
    position: fixed;
    bottom: 0;

}

h1 {
    font-size: 7em;
    font-weight: 700;
    text-shadow: 5px 5px #111;
}

button {
    padding: 0.5em 2em;
    border: 1px #eee solid;
    border-radius: 4px;
    background-color: #333;
    color: #eee;
}

nav {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-top: 0;
    padding: 1em;
}

nav .left-nav {
    margin-left: 2em;
}

nav .right-nav {
    margin-right: 2em;
}

nav .center-nav {
    display: flex;
    gap: 1em;
}

nav .center-nav div {
    color: lime;
}

/************************************/

.stock-pile-container,
#stock-pile,
#drawn-pile,
.table-top,
.foundation,
#clubs,
#hearts,
#diamonds,
#spades,
#col-1,
#col-2,
#col-3,
#col-4,
#col-5,
#col-6,
#col-7,
.tableau {
    min-height: 150px;
    min-width: 120px;
    outline: 1px solid red;
}




main {
    min-width: 940px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2);
    gap: 120px;
    outline: 1px solid blue;
}


.table-top {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    /* justify-content: space-between; */
}

.stock-pile-container {
    position: relative;

    /* height: 100px;
    width: 300px; */

    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 1fr;
    gap: 60px
}
.stock-pile-container .back:nth-of-type(1n+1) {
    /* margin: -51px; */

    position: absolute;
    top: 0;
    left: 0;

}


#drawn-pile {
    /* margin-left: 150px; */
    position: relative;
}
#drawn-pile .card {
position: absolute;
    top: 0;
    left: 0;
}
#drawn-pile > .card:nth-last-child(-n + 2)  {   
    margin-left: 1em;
}
#drawn-pile > .card:nth-last-child(-n + 1)  {   
    margin-left: 2em;
}




.foundation {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 1fr;
    gap: 60px;
    justify-self: end;
}

.foundation>div {
    min-height: 150px;
    width: 120px;
}

.tableau {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

/*

    drawn pile
        show top 3 cards staggered atop eachother

    selected card(s)
        show blue lighted outline effect
        give raised card effect
            offset -top & -left
            offset shadow

    dragging effect (optional)
        hide card's original location
            until moved or moved back

*/

#clubs {
    border: 5px solid gold;
}

#var-statuses {
    color: lime;
    display: flex;
    align-items: start;
    gap: 10px;
}